
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

<script>
    
</script>




<script>
    const HOST = "http://ec2-34-239-169-229.compute-1.amazonaws.com:5000"

    var socket = io.connect(HOST);

    let algorithmState = 'IDLE'

    socket.on('miningProgressing', function(msg) {
        console.log("miningProgressing")
    });

    socket.on('miningFinished', function(msg) {
        console.log("miningFinished")
        console.log(msg);
        algorithmState = 'IDLE';
    });

    socket.on('miningFailed', function(msg) {
        console.log("miningFailed")
        algorithmState = 'IDLE';
    });

    socket.on('miningKilled', function(msg) {
        console.log("miningKilled")
        algorithmState = 'IDLE';
    });

    socket.on('algorithmAlreadyRunning', function(msg) {
        console.log("algorithmAlreadyRunning")
    });

    function invokeAlgorithm()
    {
        if (algorithmState === 'IDLE') {
            console.log("invoking algorithm")
            socket.emit('invokeAlgorithm', { positiveLabels: ["a", "b", "c"], negativeLabels: ["x", "y", "z"], topPhraseCount: 20 });
            algorithmState = 'RUNNING';
        } else {
            console.log("Algorithm already running")
        }
    }

    function killAlgorithm()
    {
        if (algorithmState === 'RUNNING') {
            console.log("invoking algorithm")
            socket.emit('killAlgorithm');
        } else {
            console.log("Algorithm not running")
        }
    }

</script>

<button onclick="invokeAlgorithm()">Start Algorithm</button>
<button onclick="killAlgorithm()">Kill Algorithm</button>

